{# templates/security/login.html.twig #} {% extends 'base.html.twig' %} {% block
    title %}Connexion{% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div >
            <div class="formulaire">
                <div class="card bg-light mb-3 mt-5" style="width: 800px;">
                    <div class="card-body">
                        <form class="form-horizontal" role="form" method="post">
                            {% if error %}
                                <div class="alert alert-danger">
                                  Erreur le formulaire de connexion est invalide
                                </div>
                            {% endif %}
                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.pseudo }},
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}
                            <div class="card-header titre_form mb-3">Veulliez vous connecter </div>
                            <div class="form-group">
                                <label for="email" class="col-md-4 control-label">Adresse E-Mail</label>
                                <div class="col-md-12">
                                    <input
                                            id="inputEmail"
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            value="{{ last_username }}"
                                            required
                                            autofocus
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-4 control-label">Mot de passe</label>
                                <div class="col-md-12">
                                    <input
                                            id="inputPassword"
                                            type="password"
                                            class="form-control"
                                            name="password"
                                            required
                                    />
                                </div>
                            </div>
                            <input
                                    type="hidden"
                                    name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                            />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-connexion">
                                        <i class="fa fa-btn fa-sign-in"></i> Connexion
                                    </button>
                                </div>
                            </div>
                            <div class="inscription">
                                <p>Pas encore de compte !</p>
                                <p>Cliquez ici pour <a href="{{ path('registration') }}">S'inscrire</a></p>
                            </div>
                            <p class="passwordlost"><a href="#">Mot de passe oublié ?</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}