{% extends 'base.html.twig' %}

{% block title %}Kocowa Accueil{% endblock %}

{% block body %}



    <!--Section movies-->
    <section class="movies containers" id="movies">
        {# code du diaporama  #}
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{{ asset('image/diapo1.jpg') }}" class="d-block w-100" height="450px" alt="...">
                    <div class="carousel-caption d-none d-md-block bg-diapo">
                        <h5>Mon amour venu des étoiles</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{{ asset('image/diapo2.jpg') }}" class="d-block w-100" height="450px" alt="...">
                    <div class="carousel-caption d-none d-md-block bg-diapo">
                        <h5>Meteor garden</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('image/diapo4.jpg') }}" class="d-block w-100" height="450px" alt="...">
                    <div class="carousel-caption d-none d-md-block bg-diapo">
                        <h5>My secret romance</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <div class="heading">
            <h2 class="heading-title">Films et series</h2>
        </div>
        <!--Movies content-->
        <div class="movies-content">
            <!--Movies Box 1-->
            {% for key, item in page %}
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="{{ item.getImage }}" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">{{ item.getTitre }}</h2>
                                <span class="movie-type"> {{ item.annee}} </span>
                            <a href="{{ path('detail-film', {id: item.getId, slug: item.getSlug}) }}" class="btn details ">Détails</a>

                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
        <div class="container d-flex justify-content-around mt-5 mb-4">
            <div class="navigation">
                {{ knp_pagination_render(page) }}
            </div>
        </div>
    </section>
{% endblock %}
