@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.play-container {

    min-height: 540px;
    margin-top: 1rem;
}
.play-img {
    width: 100%;
    height: 450px;
}
.play-text {
    position: relative;
    bottom: 159px;
    padding-left: 5%;
}
.play-text h2{
    background-color: #f9bc4b7a;
    color: white;
    padding: 5px;

}
p{
    margin-top: 0;
    margin-bottom: 0;
}
.rating {
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 1.1rem;
    color: orange;
    margin-top: 4px;
}
.rating p {
    color: white;
    font-weight: bold;
    background-color: rgba(45, 44, 44, 0.422);
    padding: 9px;
}
.play-text .tags{
    background-color: rgba(45, 44, 44, 0.422);
    padding: 2px 0 2px 5px;
    color: white;
}
.tags {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
    font-size: 1.2rem;
}
.about-movie {
    margin-top: -9rem;
    padding: 0;
}
.about-movie .palteform {
    font-size: 1.3rem;
}
.statut {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.statut1 span{
    background-color: #bbbaba;
    padding: 5px;
    border-radius: 7px;
}
.statut2 span{
    background-color: orange;
    padding: 5px;
    border-radius: 7px;
}
.statut3 span{
    background-color: mediumpurple;
    padding: 5px;
    border-radius: 7px;
}
.title{
    background-color: #816778;
    padding: 10px 0px 10px 15px;
    margin: 0 0 15px 0;
}
.title h2 {
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    font-family: 'Pacifico', cursive;
}
.trailler, .casting{
    background-color: #816778;
    padding: 5px 0px 5px 15px;
    margin: 15px 0 15px 0;
}
.trailler h2 , .casting h2 {
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    font-family: 'Pacifico', cursive;
}
.cast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    gap: 1rem;
    text-align: center;
}

.cast-img {
    width: 150px;
    height: 255px;
    object-fit: cover;
    object-position: center;
}

.about-movie p {
    max-width: 100%;
    font-size: 0.938rem;

}
.video-container {
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 400;
}

.comment{
    position: relative;
    left: 18%;
    width: 65%;
    top:35px;
    padding: 0 0 80px 0;
}
hr{
    background-color: orange !important;
    height: 3px !important;
}
.comment_entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment_entete p{
   margin: 0 0 0 0;
}
.utilisateur{
    display: flex;
    justify-content: flex-end;
}

#commentaire label {
    display: flex;
    padding-top: 5px;
}
#commentaire input{
    width: 100%;
    border-radius: 5px;
    border-style: none;
    padding: 7px;
}
#commentaire textarea {
    width: 100%;
    height: 130px;
    border-radius: 5px;
    border-style: none;
    padding: 7px;
}
#commentaire_submit{
    margin-top: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
#commentaire_note_utilisateur{
    padding: 7px;
    border: none;
    border-radius: 5px;
}