@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.bg-diapo{
    background-color: rgba(84, 84, 84, 0.55);
    border-radius: 10px;
}


.movies .heading{
    padding: 10px 14px;

}
.slide{
    margin-top: 20px;
}
.movies-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    gap: 1.5rem;
}
.movies-content .movie-box:hover .movie-box-img{
    transform: scale(1.1);
}
.containers {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0 20px 0 20px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#816778;
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
    color: white;
    margin-top: 20px;
}
.heading-title {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.details{
    background-color: #c62f4b;
    color: white;
}
.movie-box {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}
.movie-box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-box .box-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient( 8deg, hsl(240 17% 14% / 74%)14%, hsl(240 17% 14% / 74%)44%, );
    background-color: rgba(58, 58, 58, 0.658);
    overflow: hidden;
}
.movie-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgba(248, 238, 238, 0.94);
    padding-left: 5px;
}
.movie-type {
    font-size: 0.938rem;
    color: rgba(248, 238, 238, 0.94);
    padding-left: 5px;
}

.current{
    padding: 4px 10px;
    background: #c62f4b;
    color: white;
    margin: 0 5px;
    border-radius: 7px;
}
.page{
    padding: 4px 10px;
    margin: 0 5px;
    border-radius: 7px;
}
.page a{
    color: black;
    text-decoration: none;

}
.first a, .previous a,  .next a, .last a{
    text-decoration: none;
    color: black;
    margin: 0 2px;
}
@media (max-width: 768px){
    .containers{
        max-width: 840px;
    }
}
