body{
    background-color: rgba(251, 192, 187, 0.5);
    min-height: 100%;
    font-family: Arial, fantasy;
    font-weight: lighter;
}

a{
    color: #c62f42;
}
/* style header*/
.logo{
    padding: 40px 0 0 25px;
}
.navbar{
    height: 136px;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
    position: relative;
    bottom: 45px;
}
.nav_admin{
    bottom: 4px !important;
}
.icone_admin img{
    position: relative;
    right: 55%;
}
.navbar_admin li{
    margin: 0 45px 0 0;
}
.btn-primary{
    background-color: orange !important;
    border: none;
    margin-left: 10px;
    color: black;
}
#form{
    display: flex;
    align-items: center;
    position: relative;
    right: 63%;
    font-family: fantasy;
    top: 12%;
}
form[action="/handleSearch"]{
    display: flex;
}
.entete_header{
    display: flex;
    width: 113%;
    justify-content: space-between;
}
.header{
    width: 100%;
}
.navbar-header{
    background-color: #816778;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.navbar-link{
   display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

}
.navbar-link li a{
    color: white;
    display: flex;
    text-decoration: none;
    font-size: 18px ;
}
.navbar-link li{
    list-style: none;
}
.navbar-nav li {
    font-size: 20px;
}

.dropdown-menu.show{
    background-color: rgb(239, 172, 56);
}
.dropdown-item{
    color: white;
}

/* style footer*/
.footer{
    background-color: #816778;
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* page de conneixon*/
.titre_form{
    background-color: rgba(255, 165, 0, 0.58);
    color: black;
}
.form-group{
    margin-top: 20px;
}
.inscription{
    display: flex;
    justify-content: center;
}
.inscription p{
    padding-right: 10px;
}
.passwordlost{
    text-align: center;
}
.btn-connexion, .btn-inscription{
    background-color: orange;
}
.formulaire{
    display: flex;
    justify-content: center;
}
/*
style barre de recherche
 */
.search{
    margin-bottom: 50px;
}
.titre{
    display: flex;
    justify-content: space-between;
}
.statut1{
    background-color: #bbbaba;
    padding: 5px;
    border-radius: 7px;
}
.statut2{
    background-color: orange;
    padding: 5px;
    border-radius: 7px;
}
.statut3{
    background-color: mediumpurple;
    padding: 5px;
    border-radius: 7px;
}
.corpsSearch{
    display: flex;
    margin-top: 10px;
}
.desc{
    margin-left: 15px;
    margin-right: 7%;
}
.bg{
    background: orange;
    padding: 10px 15px 10px 15px;
    color: white;
    text-decoration: none;
}
.bg:hover{
    background: #816778;
    color: white;
}
.btn_back{
    margin-top: 20px;
}
.aucunResult{
    margin-top: 5%;
}