.box{

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entete_compte{
    display: flex;
    flex-direction: column;
    align-items: center
}
.entete_titre{
    width: 25%;
}
.box h1{
    text-align: center;
}
.box_btn{
    display: flex;
    justify-content: space-around;
}
.info{
    width: 50%;
}
.table{
    margin-left: 40px;
}
.note_comment{
    text-align: center;
}
tbody, td, tfoot, th, thead, tr{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.commentairesperso{
    margin: 40px 0 60px 0;
    border-top: 1px solid black;
    padding-top: 20px;
}
.entete_comment{
    width: 40%;
}
.compte{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}
.title_info{
    margin-bottom: 30px;
}
.btn-update {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 20px;
    margin-left: 48px;

}
.editpassword{
    border-style: none;
    border-radius: 50px;
    background-color: #0f766e;
    color: white;
    padding: 10px;
}
.editprofil{
    border-style: none;
    border-radius: 50px;
    background-color: #0891b2;
    color: white;
}
/*
EDIT PROFIL
 */

.editInfo{
    width: 50%;
    margin-top: 25px;
}
#edit_profil label{
   display: flex;
    font-size: 18px;
}
#edit_profil input{
    width: 100%;
    padding: 10px 5px 10px 10px;
    margin:7px 0;
    border-style: none;
    border-radius: 5px;
}
#edit_profil button{
    margin-top: 20px;
    border-style: none;
    padding: 10px;
    background-color: #058356;
    border-radius: 15px;
    color: white;
}
.message{
    width: 130%;
    padding: 20px;

}

.editPwd{
    width: 45%;
    margin-top: 20px;
}
.btn-validation{
    margin-top: 20px;
    border-style: none;
    padding: 10px;
    background-color: #058356;
    border-radius: 5px;
    color: white;
}
.btn-return{
    margin-top: 20px;
    border-style: none;
    padding: 10px;
    background-color: #0284c7;
    border-radius: 5px;
    color: white;
}