{% extends 'base.html.twig' %}

{% block title %}koxo{% endblock %}

{% block body %}
<h3>{{ categories }}</h3>
    <div class="movies-content">
        <!--Movies Box 1-->
        {% for key, item in categories %}
            <div class="swiper-slide">
                <div class="movie-box">
                    <img src="{{ item.getImage }}" class="movie-box-img">
                    <div class="box-text">
                        <h2 class="movie-title">{{ item.getTitre }}</h2>
                        <span class="movie-type"> {{ item.annee}} </span>
                        <a href="{{ path('detail-film', {id: item.getId, slug: item.getSlug}) }}" class="btn details ">Détails</a>

                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}