{% extends 'base.html.twig' %}

{% block body %}<title>{% block title %}Kocowa - {{ film.titre }}{% endblock %}</title>

    <div class="play-container containers">
        <!--Play image-->
        <img src="{{ film.banniere }}" alt="" class="play-img">

        <!--Play text-->
        <div class="play-text">
            <h2>{{ film.titre }}</h2>

            <div class="rating">
                <i class='bx bxs-star' ></i>
                <p class="note" >{{ film.note }} / 10</p>
            </div>

            <!--Tags-->
           <div class="tags">
               {% for category in film.getCategories %}
               <span> {{ category.getLabel }} - </span>
               {% endfor %}

            </div>
        </div>
        <!--about-->
        <div class="about-movie container">
            <div class="title">
                <h2>{{ film.titre }} - Résumer</h2>
            </div>
            <!--REsum-->
            <p>
               {{ film.description|raw }}
            </p>


            <div class="tags">Plateformes :
            {% for plateformes in film.getPlateformes %}
            <p >{{ plateformes.getNamePlateforme }} - </p>
          {% endfor %}
            </div>

            {% if(film.statut == 'En cours') %}
                <h3 class="statut">Statut: <span class="statut1">{{ film.statut }}</span></h3>
            {% elseif(film.statut == 'Vue') %}
                <h3 class="statut">Statut: <span class="statut2">{{ film.statut }}</span></h3>
            {% else %}
                <h3 class="statut">Statut: <span class="statut3">{{ film.statut }}</span></h3>
            {% endif %}


            <div class="video-container">
                <div class="trailler">
                    <h2>Bande annonce</h2>
                </div>
                <div class="video-box">
                    <iframe width="560" height="315" src="{{ film.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <!--Movie Cast-->
            <div class="casting">
                <h2>Acteurs principaux</h2>
            </div>
            <div class="cast">
                {% for role in film.getRoles %}

                <div class="cast-box">
                    <img src="{{ role.getImgActeur }}" alt="" class="cast-img">
                    <h5 class="cast-title">{{ role.getNameActeur }}</h5>

                    <span class="cast-title">{{ role.getNameRole }}</span>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    </div>


    <div class="comment">
        <hr>
    <h2 class="cast-heading">{{ film.commentaires|length }} Commentaires</h2>
    {% for comment in film.commentaires %}
        <div class="card  mb-2">
            <div class="card-header">
                <div class="comment_entete">
                    <p>{{ comment.getTitre }}</p> <span>Note : {{ comment.getNoteUtilisateur }}/10</span>
                </div>
                <div class="utilisateur">{{ comment.getUtilisateur.getPseudo }} le {{ comment.getCreatedAt|date("d/m/Y") }} à {{ comment.getCreatedAt|date("H:i:s") }}</div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ comment.getContent }}</p>
            </div>
        </div>
    {% endfor %}
    {% if app.user %}
        <h2>Ajouter un commentaire</h2>
        {{ form(form) }}
    {% endif %}
    {% if not app.user %}
    <p> Pour ajouter un commentaire veulliez vous <a href="{{ path('app_login') }}">Connecter</a> ou vous <a href="{{ path('registration') }}">inscrire</a>
        {% endif %}
    </div>
{% endblock %}