{% extends 'base.html.twig' %}

{% block title %}Modification de votre commentaires{% endblock %}

{% block body %}
    <div class="container editInfo">
        <div class="col-xs4">
            <h1> Modification du commentaires</h1>
            {{ form(form) }}
        </div>

    </div>
{% endblock %}