{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.pseudo }}{% endblock %}

{% block body %}
    <div class="container editInfo">
        <div class="col-xs4">
            <h1> Modification du profil de {{ app.user.pseudo }}</h1>
            {{ form(form) }}
        </div>

    </div>
{% endblock %}