{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.pseudo }} {% endblock %}

{% block body %}
    <div class="container editPwd">
        {% for message in app.flashes('error') %}
            <div class="col-sm-4">
                <div class=" message rounded-2 btn-danger">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h1> Modification du Mot de passe</h1>
            <form method="post">
                <div class="mb-3">
                    <label for="pass" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="pass" name="pass" >
                </div>
                <div class="mb-3">
                    <label for="pass2" class="form-label">Confirmer le mot de passe</label>
                    <input type="password" class="form-control" id="pass2" name="pass2">
                </div>

                <button class="btn-validation ">Valider</button>
                <button class="btn-return " href="{{path('editProfil') }}">Retour</button>

            </form>
        </div>

    </div>
{% endblock %}