{% extends 'base.html.twig' %}

{% block title %}Bienvenue {{ app.user.getPseudo }}{% endblock %}

{% block body %}
    <div class="col-xs4 entete_compte">
        <h1 class="compte"> Bienvenue {{ app.user.getPseudo }}</h1>
        {% for message in app.flashes('message') %}
            <div class="col-sm-4 ">
                <div class="rounded-2 btn-success message">{{ message }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="container box  ">

    <div class="info">
        <section>
            <h1 class="title_info">Mes informations</h1>
        </section>
        <div class="row ">
            <div  class="col name">
                Pseudo:
            </div>
            <div class="col">
                {{ app.user.getPseudo }}
            </div>
        </div>


        <div class="row ">
            <div  class="col email">
                email:
            </div>
            <div class="col">
                {{ app.user.email }}
            </div>
        </div>
        <div class="btn-update ">
            <a href="{{ path('editProfil') }}" class="btn editprofil p-2">Modifier le profil</a>
            <a href="{{ path('editPass') }}" class="btn editpassword">Modifier le mot de passe</a>

        </div>
    </div>
        <div class="commentairesperso">
        <section>
            <h1 class="title_info">Mes commentaires ({{ comment|length }})</h1>
        </section>
        <table class="table">
            <thead>
            <tr>
                <th class="entete_titre">Titre</th>
                <th class="entete_comment">Commentaires</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            {% for item in comment %}
                <tr>
                    <td>{{ item.getTitre }}</td>
                    <td>{{ item.getContent }}</td>
                    <td class="note_comment" >{{ item.getNoteUtilisateur }}</td>
                    <td class="box_btn">
                        <a href="{{ path('edit_commentaires' , {'id':item.id}) }}" class="btn btn-warning">Modifier</a>
                        <a href="{{ path('remove_commentaires',  {'id':item.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Vous n'avez pas  de commentaires</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
