{% extends 'base.html.twig' %}

{% block title %}Resulat recherche{% endblock %}

{% block body %}
    <div class="container search">
    {% if app.request.method == 'POST' %}
        <div class="btn_back">
            <a href="{{ path('home') }}" class="bg">Retour</a>
        </div>
        <div>
            {% if films | length == 0 %}
                <h4 class="aucunResult">Aucun résulat pour votre recherche.</h4>
            {% else %}
                <h3 class="mt-3">Vos résulats de recherche :</h3>
                {% for film in films %}
                    <div class="mt-3 p-3 bg-light border rounded">
                        <div class="titre">
                            <h5 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ film.titre }}</h5>
                            {% if(film.statut == 'En cours') %}
                               <p>Statut: <span class="statut1">{{ film.statut }}</span></p>
                            {% elseif(film.statut == 'Vue') %}
                                <p>Statut: <span class="statut2">{{ film.statut }}</span></p>
                            {% else %}
                                <p>Statut: <span class="statut3">{{ film.statut }}</span></p>
                            {% endif %}
                        </div>
                        <div class="corpsSearch">
                            <img src="{{ film.image }}" width="7%">
                            <p class="desc">{{ film.description|striptags|slice(0, 180) }}...</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    </div>
{% endblock %}
