<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport"  />

        <title>{% block title %}Kocowa{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/favicon.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('style/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('style/home.css') }}">
            <link rel="stylesheet" href="{{ asset('style/detail.css') }}">
            <link rel="stylesheet" href="{{ asset('style/utilisateur.css') }}">

            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar-header navbar navbar-expand-lg navbar-light bg-nav">
        <div class="header">
            <div class="entete_header">
                <div class="logo">
                    <a href="{{ path('home') }}"> <img  src="{{ asset('image/logoHeader.png') }}" width="50%"></a>
                </div>
                {{ render(controller(
                    'App\\Controller\\SearchController::searchBar'
                )) }}
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                    <li><a class="nav-link" href="#">Contact</a></li>
                   {# <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('category_show', {slug: category.getSlug}) }}"> {{ category.label }}</a>
                                </li>
                            {%endfor %}
                        </ul>
                    </li>#}
                </ul>
            </div>
        </div>

        <nav >
            <div class="header">
                <div class="collapse navbar-collapse nav_admin" id="navbarNav">
                    <ul class="navbar-nav navbar_admin">
                        {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mon compte
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('compte') }}">Mes infos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if not app.user %}
                        <li><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
                    {% endif %}
                    </ul>
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <div class="icone_admin">
                            <a href="{{ path('admin') }}" ><img src="{{ asset('image/admin.png') }}" width="82%"></a>
                        </div>
                    {% endif %}
                </div>

            </div>

        </nav>

    </nav>
        {% block body %}{% endblock %}

    </body>
</html>
